<!-- For everyone, show all restaurants available in your area -->

<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<% if @restaurants.blank? %>
  <h4>There are no restaurants with that name <%= params[:name] %>.</h4>
<% end %>
<!-- map styling  -->
<style>
  #map{
    height: 400px;
    width: 100%;
  }
</style>
<h3> Google Maps</h3>
<div id="map"></div>
<script>
// map options 
   var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat:40.709556, lng:-74.006835}, 
          zoom: 13
        });
     
     const restaurants = <%= raw @restaurants.map{|loc| loc.to_h}.to_json %>;
     restaurants.forEach( function(restaurant){
         var marker = new google.maps.Marker({
                       map: map,
                       position: restaurant
                      });
         marker.setMap(map);
       });

  document.getElementById('submit').addEventListener('click', function() {
         geocodeAddress(geocoder, map);
     })
      infoWindow = new google.maps.InfoWindow;

       
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfsL2AIQqCWEYR-ACZ4BOcC-_N7upMXXA&callback=initMap">
    </script>





<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>State</th>
      <th>City</th>
      <th>Zipcode</th> 
      <th>Open hours</th>
      <th>Close hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, menu_path(restaurant.id) %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.zipcode %></td>

        <td><%= restaurant.open_hours %> am</td>
        <td><%= restaurant.close_hours %> pm</td>
      </tr>
  </tbody>
  <% end %>
</table>

<br>

<%= link_to "New Restaurant " ,new_restaurant_path%>
