
<div class="personal-menu">
<h2><%= @restaurant.name %> Menu</h2>

<table>
	<tr>
  		<th colspan="4">Appetizers</th>
 	 </tr>

<% @menu_items.each do |menu_item| %>
	<% if menu_item.category == "Appetizer" %> 

   <tr> 
   	<td><%= link_to 'x', menu_item, method: :delete, data: { confirm: "Are you sure?"} %></td>
    <td>
    	<%= menu_item.name %><br>
		<%= menu_item.description %>
	</td>
    <td>$<%= number_with_precision(menu_item.price, :precision => 2) %></td>
    <td><%= link_to 'Edit', edit_user_restaurant_menu_item_path(current_user, @restaurant.id, menu_item.id) %></td>
   </tr> 

	<% end %>
<% end %>

	<tr>
  		<th colspan="4">Lunch</th>
 	 </tr>

  <% @menu_items.each do |menu_item| %>
    <% if menu_item.category == "Lunch" %>

   <tr>
   	<td><%= link_to 'x', menu_item, method: :delete, data: { confirm: "Are you sure?"} %></td>
    <td>
    	<%= menu_item.name %><br>
		<%= menu_item.description %>
	</td>
    <td>$<%= number_with_precision(menu_item.price, :precision => 2) %></td>
    <td><%= link_to 'Edit', edit_user_restaurant_menu_item_path(current_user, @restaurant.id, menu_item.id) %></td>
   </tr> 

    <% end %>
  <% end %>

	<tr>
  		<th colspan="4">Dinner</th>
 	 </tr>

  <% @menu_items.each do |menu_item| %>
    <% if menu_item.category == "Dinner" %>

   <tr>
   	<td><%= link_to 'x', menu_item, method: :delete, data: { confirm: "Are you sure?"} %></td>
    <td>
    	<%= menu_item.name %><br>
		<%= menu_item.description %>
	</td>
    <td>$<%= number_with_precision(menu_item.price, :precision => 2) %></td>

    <td><%= link_to 'Edit', edit_user_restaurant_menu_item_path(current_user, @restaurant.id, menu_item.id) %></td>
   </tr>

    <% end %>
  <% end %>

	<tr>
  		<th colspan="4">On Sale</th>
 	 </tr>

  <% @menu_items.each do |menu_item| %>
    <% if menu_item.status == "Sale" %>

   <tr>
   	<td><%= link_to 'Delete', menu_item, method: :delete, data: { confirm: "Are you sure?"} %></td>
    <td>
    	<%= menu_item.name %><br>
		<%= menu_item.description %>
	</td>
    <td>$<%= number_with_precision(menu_item.price, :precision => 2) %></td>
    <td><%= link_to 'Edit', edit_user_restaurant_menu_item_path(current_user, @restaurant.id, menu_item.id) %></td>
   </tr>

    <% end %>
  <% end %>
</table>

  <p><%= link_to 'Add new menu item', new_user_restaurant_menu_item_path(current_user, @restaurant.id, @menu_items) %></p>

</div>