<h1><%= @restaurant.name %> Menu</h1>

<div class="personal-menu">
  <td><%= link_to 'New', new_user_restaurant_menu_item_path(current_user, @restaurant.id, @menu_items) %></td>

  <h2>Appetizers</h2>
  <% @menu_items.each do |menu_item| %>
   <% if menu_item.category == "Appetizer" %>   
    <h3><%= menu_item.name %></h3>
    <p><%= menu_item.description %></p>
    <p><%= menu_item.price %></p>
    <td><%= link_to 'Edit', edit_user_restaurant_menu_item_path(current_user, @restaurant.id, menu_item.id) %></td>
    <td><%= link_to 'Delete', menu_item, method: :delete, data: { confirm: "Are you sure?"} %></td>
    <% end %>
  <% end %>

  <h2>Lunch</h2>
  <% @menu_items.each do |menu_item| %>
    <% if menu_item.category == "Lunch" %>
    <h3><%= menu_item.name %></h3>
    <p><%= menu_item.description %></p>
    <p><%= menu_item.price %></p>
    <td><%= link_to 'Edit', edit_user_restaurant_menu_item_path(current_user, @restaurant.id, menu_item.id) %></td>
    <td><%= link_to 'Delete', menu_item, method: :delete, data: { confirm: "Are you sure?"} %></td>
    <% end %>
  <% end %>

  <h2>Dinner</h2>
  <% @menu_items.each do |menu_item| %>
    <% if menu_item.category == "Dinner" %>
    <h3><%= menu_item.name %></h3>
    <p><%= menu_item.description %></p>
    <p><%= menu_item.price %></p>
    <td><%= link_to 'Edit', edit_user_restaurant_menu_item_path(current_user, @restaurant.id, menu_item.id) %></td>
    <% end %>
  <% end %>

  <h2>On Sale</h2>
  <% @menu_items.each do |menu_item| %>
    <% if menu_item.status == "Sale" %>
    <h3><%= menu_item.name %></h3>
    <p><%= menu_item.description %></p>
    <p><%= menu_item.price %></p>
    <td><%= link_to 'Edit', edit_user_restaurant_menu_item_path(current_user, @restaurant.id, menu_item.id) %></td>
    <% end %>
  <% end %>
</div>