<!-- For restaurant admins, see a list of restaurants you own -->

<p id="notice"><%= notice %></p>

<h1>Welcome <%= current_user.full_name%></h1>

<% if current_user.restaurants.blank? %>
  <h4>Create your restaurant! <%= params[:name] %></h4>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>State</th>
      <th>City</th>
      <th>Zipcode</th> 
      <th>Open Hours</th>
      <th>Close Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, my_restaurant_path(current_user, restaurant.id) %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.state %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.zipcode %></td>
        <td><%= restaurant.open_hours %> am</td>
        <td><%= restaurant.close_hours %> pm</td>
        <% restaurant.orders.each do |order| %>
          <%= order.pickup_address %>
        <% end %>


        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Create my Restaurant', new_restaurant_path %>