<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= hidden_field_tag :restaurant_id, @restaurant.id %>
  </div>

  <div class="field">
    <%= hidden_field_tag :manifest, 'Food order' %>
    <%= hidden_field_tag :pickup_name, 'Driver name' %>
    <%= hidden_field_tag :pickup_notes, 'Call the customer when you get there!' %>
  </div>

  <div class="field">
    <%= hidden_field_tag :pickup_address, @restaurant.address + ', ' + @restaurant.city + ', ' + @restaurant.state %>
  </div>

  <div class="field">
    <%= hidden_field_tag :pickup_phone_number, @restaurant.phone_number %>
  </div>

  <div class="field">
    <%= hidden_field_tag :pickup_business_name, @restaurant.name %>
  </div>      

  <div class="field">
    <%= form.label :dropoff_name %>
    <%= form.text_field :dropoff_name, id: :dropoff_name %>
  </div>

  <div class="field">
    <%= form.label :dropoff_address %>
    <%= form.text_field :dropoff_address, id: :dropoff_address %>
  </div>

  <div class="field">
    <%= form.label :dropoff_phone_number %>
    <%= form.text_field :dropoff_phone_number, id: :dropoff_phone_number %>
  </div>

  <div class="field">
    <%= form.label :dropoff_business_name %>
    <%= form.text_field :dropoff_business_name, id: :dropoff_business_name %>
  </div>

  <div class="field">
    <%= form.label :dropoff_notes %>
    <%= form.text_field :dropoff_notes, id: :dropoff_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
