<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :user_id %>
    <%= form.hidden current_user.id, :order_user_id %>

    <%= form.label :restaurant_id %>
    <%= form.hidden @restaurant.id, :order_restaurant_id %>

    <%= form.label :pickup_address %>
    <%= form.hidden @restaurant.address, :order_pickup_address %>

    <%= form.label :pickup_phone_number %>
    <%= form.hidden @restaurant.phone_number, :order_pickup_phone_number %>

    <%= form.label :pickup_business_name %>
    <%= form.hidden @restaurant.name, :order_pickup_business_name %>

  <div class="field">
    <%= form.label :dropoff_name %>
    <%= form.text_field :dropoff_name, id: :order_dropoff_name %>
  </div>

  <div class="field">
    <%= form.label :dropoff_address %>
    <%= form.text_field :dropoff_address, id: :order_dropoff_address %>
  </div>

  <div class="field">
    <%= form.label :dropoff_phone_number %>
    <%= form.text_field :dropoff_phone_number, id: :order_dropoff_phone_number %>
  </div>

  <div class="field">
    <%= form.label :dropoff_business_name %>
    <%= form.text_field :dropoff_business_name, id: :order_dropoff_business_name %>
  </div>

  <div class="field">
    <%= form.label :dropoff_notes %>
    <%= form.text_field :dropoff_notes, id: :order_dropoff_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
