<!DOCTYPE html>
<html>
  <head>
    <title>GpFinal</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
<<<<<<< HEAD

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
=======
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
>>>>>>> origin
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<<<<<<< HEAD
    <%= render partial: "layouts/nav" %>
=======
    <h1>LastCall</h1>
>>>>>>> 13a09f60803c8c8e9c98fb838d3bf81bc23c54c5
    <%= yield %>
  </body>
</html>
