<!-- Show rating for one order -->



<p>
  <strong>User:</strong>
  <%= @rating.user %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @rating.restaurant %>
</p>

<p>
  <strong>Review:</strong>
  <%= @rating.review %>
</p>

<p>
  <strong>Restaurant rating:</strong>
  <%= @rating.restaurant_rating %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
