<%= form_with(model: menu_item, local: true) do |form| %>
  <% if menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

      <ul>
      <% menu_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="menu-item-form">
  <table>
    <div>
      <%= hidden_field_tag :restaurant_id, params[:restaurant_id] %>
    </div>

    <tr>
    <div class="field">
      <td><%= form.label "Category" %></td>
      <td><%= form.select :category, MenuItem.categories.keys %></td>
    </div>
    </tr>
    
    <tr>
    <div class="field">
      <td><%= form.label "Is This Dish On Sale?" %></td>
      <td><%= form.select :status, MenuItem.statuses.keys %></td>
    </div>
    </tr>

    <tr>
    <div class="field">
      <td><%= form.label "Name" %></td>
      <td><%= form.text_field :name, id: :menu_item_name %></td>
    </div>
    </tr>

    <tr>
    <div class="field">
      <td><%= form.label "Price" %></td>
      <td><%= form.text_field :price, id: :menu_item_price, :value => (number_with_precision(form.object.price, :precision => 2) || 0) %></td>
    </div>
    </tr>

    <tr>
    <div class="field">
      <td><%= form.label "Description" %></td>
      <td><%= form.text_area :description, id: :menu_item_description %></td>
    </div>
    </tr>

    <tr>
    <div class="actions">
      <td colspan="2"><%= form.submit %></td>
    </div>
  </tr>

    </table>
    </div>
</div>
<% end %>
