<%= form_with(model: menu_item, local: true) do |form| %>
  <% if menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

      <ul>
      <% menu_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= hidden_field_tag :restaurant_id, params[:restaurant_id] %>
  </div>

  <div class="field">
    <%= form.select :category, MenuItem.categories.keys %>
  </div>
  

  <div class="field">
    <%= form.label "Menu Item Name" %>
    <%= form.text_field :name, id: :menu_item_name %>
  </div>

  <div class="field">
    <%= form.label "Menu Item price" %>
    <%= form.text_field :price, id: :menu_item_price, :value => (number_with_precision(form.object.price, :precision => 2) || 0) %>
  </div>

  <div class="field">
    <%= form.text_area :description, id: :menu_item_description %>
  </div>
  

  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
