

<h2>Todays Sales</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <% if menu_item.status == "Sale" %>
    <td><strong><%= menu_item.restaurant.name %></td>
    <td><%= menu_item.name %></td>
    <td><%= menu_item.description %></td>
      <tr>
        <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
        <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

